{
    email {$LETSENCRYPT_EMAIL}
}

http://{$APP_IP:5.83.140.117} {
    encode gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /metrics {
        respond "not found" 404
    }

    handle {
        reverse_proxy frontend:3000
    }
}

{$APP_DOMAIN:localhost} {
    encode gzip

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /metrics {
        respond "not found" 404
    }

    handle {
        reverse_proxy frontend:3000
    }
}

{$APP_WWW_DOMAIN:www.localhost} {
    redir https://{$APP_DOMAIN}{uri} permanent
}
